<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>

<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to 'Show', order_path(order) %> |
          <%= link_to 'Edit', edit_order_path(order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
