<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    
      <tr>
        <% if product.low_stock? %>
  <p class="alert">Low stock alert!</p>
<% end %>

        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.quantity %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td>
          <%= link_to 'Edit', edit_product_path(product) %> |
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Product', new_product_path %>
